.form{
    &-group{
        margin-bottom: 5.5rem;

        @include bp(sm){
            margin-bottom: 3.2rem;
        }

        &_md{
            margin-bottom: 3.7rem;

            @include bp(sm){
                margin-bottom: 3.2rem;
            }
        }

        &_lg{
            margin-bottom: 4.7rem;

            @include bp(sm){
                margin-bottom: 2.7rem;
            }
        }
    }

    &-control{
        font-family: inherit;
        display: block;
        border: none;
        border-radius: 0;
        padding: 2.3rem 0 2rem;
        width: 100%;
        font-size: 2.4rem;
        line-height: 2rem;
        font-weight: 400;
        background: transparent;
        transition: all 0.3s ease-out;
        border-bottom: 1px solid rgba($primary, 0.2);
        color: $primary;

        @include bp(sm){
            font-size: 1.8rem;
            padding-bottom: 1.7rem;
        }

        &.has-error{
            border-color: $danger;
            &::-webkit-input-placeholder{color:$danger!important}
            &::-moz-placeholder{color:$danger!important}
            &:-moz-placeholder{color:$danger!important}
            &:-ms-input-placeholder{color:$danger!important}
        }
        &:disabled{
            background: #E8E8E8;
            border-color: #E8E8E8;

        }
        &:focus{
            border-color: $primary;
        }

        &_inversion{
            border-color: rgba(255,255,255,0.2);
            color: #fff;

            &:focus{
                border-color: #fff;
            }

            ::-webkit-input-placeholder{color: #6d85a9!important}
            ::-moz-placeholder{color: #6d85a9!important}
            :-moz-placeholder{color: #6d85a9!important}
            :-ms-input-placeholder{color: #6d85a9!important}
        }

        &_date{
            background: url(../img/icons/calendar.svg) 100% 55% no-repeat;
            background-size: 2.4rem 2.4rem;
        }

        &_md{
            font-size: 2rem;
            letter-spacing: -0.14rem;
            padding: 1.9rem 0 1.6rem;

            @include bp(sm){
                font-size: 1.8rem;
                letter-spacing: -0.126rem;
                padding-top: 2.5rem;
            }
        }
    }
    &-check-input{
        flex-shrink: 0;
        width: 2.4rem;
        height: 2.4rem;
        display: inline-block;
        vertical-align: -0.3rem;
        border-radius: 5px;
        margin-right: 1.6rem;
        border: 1px solid #CBCBCB;
        background: #fff;
        cursor: pointer;
        transition: all 0.3s ease-out;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            border-color: #000;
        }
        &:checked{
            background: #000;
            border-color: #000;
            &:before{
                opacity: 1;
            }
        }
        &:before{
            content: '';
            display: block;
            width: 1.2rem;
            height: 0.9rem;
            background: url(../img/icons/checkbox-inversion.svg) 0 0 no-repeat;
            transition: all 0.3s ease-out;
            opacity: 0;
        }
        &_sm{
            border-radius: 0;
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 1.3rem;
        }
    }
    &-radio-input{
        flex-shrink: 0;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background: transparent;
        border: 1px solid rgba(#191919, 0.3);
        transition: all 0.3s ease-out;
        margin-right: 1.6rem;
        position: relative;
        cursor: pointer;
        @include bp(sm){
            margin-right: 1.2rem;
        }
        &:hover{

        }
        &:checked{

            border-width: 8px;
        }
    }
}


// rating
.rating{
    width: 8.8rem;
    height: 1.5rem;
    position: relative;
    background: url(../img/icons/rating.svg) 0 0 no-repeat;
    background-size: auto 100%;
    margin-right: 1.2rem;
    &__active{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: url(../img/icons/rating-active.svg) 0 0 no-repeat;
        background-size: auto 100%;
    }
    &_lg{
        width: 14.6rem;
        height: 2.5rem;
        @include bp(md){
            width: 9.3rem;
            height: 1.6rem;
        }
    }
}

// number
.input-number {
    display: flex;
    align-items: center;
    &__input {
        text-align: center;
        width: 100%;
        border: none;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.3rem;
        background: transparent;
        width: 4.8rem;
    }
    &__plus, &__minus{
        position: relative;
        width: 3.2rem;
        height: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        z-index: 2;
        cursor: pointer;
        transition: all 0.3s ease-out;
        flex-shrink: 0;
        border: 1px solid rgba(#191919, 0.1);
        &:before, &:after{
            content: '';
            display: block;
            position: absolute;
            width: 1.4rem;
            height: 0.2rem;
            transition: all 0.3s ease-out;
            border-radius: 3px;
        }
        &:after{
            transform: rotate(90deg);
        }
        &:hover{

            &:before, &:after{

            }
        }
    }
    &__minus {
        &:after{
            display: none;
        }
        &:before{
            width: 1.2rem;
        }
    }
}

// fake-select
.fake-select{
    position: relative;
    &__info{
        display: inline-block;
        margin-left: 1.2rem;
    }
    &__item{
        display: block;
        padding: 1rem 2rem;
        transition: all 0.3s ease-out;

        &.active{
            background: rgba($dark,0.5);
        }

        @include bp(hv){
            &:hover{
                background: rgba($dark,0.5);
            }
        }
    }
    &__link{
        white-space: nowrap;
        border-bottom: 1px solid $primary;
        padding-top: 2rem;
        padding-bottom: 1.6rem;

        @include bp(sm){
            padding-top: 2.4rem;
        }
    }

    &__dropdown{
        padding: 0;
        margin-top: 0.4rem;
        background: #FFFFFF;
        box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        min-width: 100%;
    }
}

/* Juro */
.input--juro {
	overflow: hidden;
}

.input__label--juro {
	position: absolute;
    top: -0.3rem;
    left: 0;
    color: rgba($primary, 0.5);
    width: 100%;
}

.input__label-content--juro {
	padding: 2.6rem 0 2rem;
    letter-spacing: -0.168rem;
    font-size: 2.4rem;
    display: block;
	transition: all 0.2s ease-out;

    @include bp(sm){
        font-size: 1.8rem;
        letter-spacing: -0.126rem;
    }

    &_md{
        font-size: 2rem;
        letter-spacing: -0.14rem;
        padding: 2.2rem 0 1.8rem;

        @include bp(sm){
            font-size: 1.8rem;
            letter-spacing: -0.126rem;
            padding-top: 2.7rem;
        }
    }
}

.input__field--juro:focus + .input__label--juro .input__label-content--juro,
.input--filled .input__label--juro .input__label-content--juro {
	color: $primary;
	font-size: 1.5rem;
    line-height: 1rem;
    letter-spacing: -0.105rem;
    padding: 0;
}

.form-control_inversion + .input__label--juro {
    color: rgba(255,255,255, 0.4);
}

.input__field--juroform-control_inversion:focus + .input__label--juro .input__label-content--juro,
.input--filled .form-control_inversion +.input__label--juro .input__label-content--juro{
    color: #fff;
}

.input--filled .form-control{
    border-color: $primary;
}

.input--filled .form-control_inversion{
    border-color: #fff;
}

.input{
    position: relative;
}

// ui
.ui-datepicker-prev {
    left: 0 !important;
    border: none !important;
    background: transparent !important;
    top: 0.2rem !important;
    cursor: pointer;
}

.ui-datepicker-next {
    right: 0 !important;
    border: none !important;
    background: transparent !important;
    top: 0.2rem !important;
    cursor: pointer;
}

.ui-icon-circle-triangle-w {
    background: url(../img/icons/prev-caret.svg) 50% 50% no-repeat !important;
    background-size: contain;
}

.ui-icon-circle-triangle-e {
    background: url(../img/icons/next-caret.svg) 50% 50% no-repeat !important;
    background-size: contain;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    color: #fff;
    background: $secondary;
}