.d-none{
  display: none!important;
}

.align-items-center{
  align-items: center;
}

.align-items-start{
  align-items: start;
}

.justify-content-between{
  justify-content: space-between;
}

.justify-content-center{
  justify-content: center!important;
}

.flex-column{
  flex-direction: column;
}

.d{
  &-block{
    display: block;
  }

  &-flex{
    display: flex!important;
  }

  &-inline-flex{
    display: inline-flex;
  }

  &-grid{
    display: grid;
    grid-gap: 2rem;

    &_md{
      grid-gap: 1.7rem;
    }
  }

  &-md{
      @include bp(md-up){
        &-none{
          display: none!important;
        }
        &-block{
          display: block!important;
        }
        &-inline{
          display: inline-block!important;
        }
        &-inline-flex{
          display: inline-flex!important;
        }
        &-flex{
          display: flex!important;
        }
        &-grid{
          display: grid!important;
          grid-gap: 2rem;
        }
      }
  }

  &-lg{
    @include bp(lg-up){
      &-none{
        display: none!important;
      }
      &-block{
        display: block!important;
      }
      &-inline-flex{
        display: inline-flex!important;
      }
      &-inline{
        display: inline-block!important;
      }
      &-flex{
        display: flex!important;
      }
      &-grid{
        display: grid!important;
        grid-gap: 2rem;
      }
    }
  }

  &-xl{
    @include bp(xl-up){
      &-none{
        display: none!important;
      }
      &-block{
        display: block!important;
      }
      &-inline-flex{
        display: inline-flex!important;
      }
      &-inline{
        display: inline-block!important;
      }
      &-flex{
        display: flex!important;
      }
      &-grid{
        display: grid!important;
        grid-gap: 2rem;
      }
    }
  }

  &-xxl{
    @include bp(xxl-up){
      &-none{
        display: none!important;
      }
      &-block{
        display: block!important;
      }
      &-inline{
        display: inline-block!important;
      }
      &-grid{
        display: grid!important;
        grid-gap: 2rem;
      }
      &-flex{
        display: flex!important;
      }
    }
  }

  &-xxxl{
    @include bp(xxxl-up){
      &-none{
        display: none!important;
      }
      &-block{
        display: block!important;
      }
      &-inline{
        display: inline-block!important;
      }
      &-grid{
        display: grid!important;
        grid-gap: 2rem;
      }
      &-flex{
        display: flex!important;
      }
    }
  }

  &-xxxxl{
    @include bp(xxxxl-up){
      &-none{
        display: none!important;
      }
      &-block{
        display: block!important;
      }
      &-inline{
        display: inline-block!important;
      }
      &-grid{
        display: grid!important;
        grid-gap: 2rem;
      }
    }
  }
}

.grid{
  &-lg{
    @include bp(xl-up){
      grid-gap: 6rem;
    }
  }

  &-2{
    grid-template-columns: repeat(2, 1fr);
  }

  &-3{
    grid-template-columns: repeat(3, 1fr);
  }

  &-6{
    grid-template-columns: repeat(6, 1fr);
  }

  &-md-2{
    @include bp(md-up){
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-md-3{
    @include bp(md-up){
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-md-4{
    @include bp(md-up){
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &-lg-2{
    @include bp(lg-up){
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-lg-3{
    @include bp(lg-up){
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-lg-4{
    @include bp(lg-up){
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &-xl-3{
    @include bp(xl-up){
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-xl-4{
    @include bp(xl-up){
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &-xl-5{
    @include bp(xl-up){
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &-xxxl-4{
    @include bp(xxxl-up){
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.col-2{
  grid-column: span 2;
}

.col-3{
  grid-column: span 3;
}
.row-2{
  grid-row: span 2;
}

.me{
  &-auto{
    margin-right: auto;
  }

  &-1{
    // margin-right: 1.2rem;
  }

  &-2{
    margin-right: 2.4rem;
  }
}

.ms{
  &-auto{
    margin-left: auto;
  }

  &-1{
    // margin-left: 1.2rem;
  }

  &-2{
    margin-left: 2.4rem;
  }
}

.mt{
  &-auto{
    margin-top: auto;
  }
}

.mb{
  &-0{
    margin-bottom: 0;
  }

  &-xs{
    margin-bottom: 2.4rem;

    @include bp(sm){
      margin-bottom: 1.5rem;
    }
  }

  &-xsm{
    margin-bottom: 4rem;

    @include bp(sm){
      margin-bottom: 2.6rem;
    }
  }

  &-sm{
    margin-bottom: 4.6rem;

    @include bp(sm){
      margin-bottom: 2.7rem;
    }
  }

  &-md{
    margin-bottom: 6rem;

    @include bp(sm){
      margin-bottom: 2.2rem;
    }
  }

  &-lg{
    margin-bottom: 8rem;

    @include bp(sm){
      margin-bottom: 3.1rem;
    }
  }

  &-xl{
    margin-bottom: 12rem;

    @include bp(lg){
      margin-bottom: 8rem;
    }

    @include bp(sm){
      margin-bottom: 5rem;
    }
  }

  &-xxl{
    margin-bottom: 14rem;
  }
}

.w-100{
  width: 100%!important;

  &_lg{
      @include bp(lg-up){
          width: 100%;
      }
  }
  &_md{
      @include bp(md){
          width: 100%;
      }
  }
  &_sm{
      @include bp(sm){
          width: 100%!important;
      }
  }
}

.order{
  &-md-2{
    @include bp(md-up){
      order: 2;
    }
  }

  &-lg-2{
    @include bp(lg-up){
      order: 2;
    }
  }
}