.product{
  display: flex;
  justify-content: space-between;
  padding-bottom: 5.6rem;

  @include bp(xxxxl-up){
    padding: 0 8.45% 5.6rem;
  }

  @include bp(md){
    display: block;
  }

  @include bp(sm){
    padding: 3rem 0 1.8rem;
  }

  p{
    margin-bottom: 3.2rem;

    @include bp(lg){
      margin-bottom: 2rem;
    }
  }

  &-pane{
    position: fixed;
    top: 7.9rem;
    left: 0;
    right: 0;
    z-index: 40;
    padding: 0.8rem 0;

    @include bp(md){
      top: 8.6rem;
    }

    &__content{
      padding-right: 8.45%;

      @include bp(xxl){
        padding-right: 0;
      }
    }

    .product__slider{
      @include bp(lg){
        width: 32rem;
      }

      @include bp(md){
        width: auto;
      }
    }

    &__icon{
      margin: 0 4.5rem 0.5rem 5.3rem;

      @include bp(xxl){
        margin: 0 3rem 0.5rem;
      }

      @include bp(md){
        margin: 0 2rem;
      }
    }

    .title{
      flex-grow: 1;
      margin: -0.5rem 2rem -1rem 0;
      line-height: 1;

      @include bp(xl){
        font-size: 5rem;
        margin-top: 0;
      }

      @include bp(md){
        font-size: 3.5rem;
      }
    }

    .btn{
      padding-top: 1.2rem;
      padding-bottom: 1.3rem;
    }
  }

  &__slider{
    width: 64.4rem;
    flex-shrink: 0;

    @include bp(xl){
      width: 42rem;
    }

    @include bp(md){
      width: 100%;
    }

    &.fixed{
      position: fixed;
      top: 14.6rem;
    }

    .swiper-slide{
      display: flex;
      align-items: center;
      justify-content: center;
      background: #EAEAEA;
      height: auto;
    }
  }

  &-slider{
    margin-bottom: 2rem;

    @include bp(sm){
      margin-bottom: 1.05rem;
    }
  }

  &-slider-thumbs{
    .swiper-slide{
      height: 14.6rem;

      @include bp(lg){
        height: 11.5rem;
      }

      @include bp(md){
        width: 100%;
      }

      @include bp(sm){
        height: 7.8rem;
      }

      img{
        max-height: 100%;
        object-fit: cover;
      }
    }
  }

  &__content{
    padding-top: 5.9rem;
    width: calc(100% - 73.9rem);

    @include bp(xl){
      width: calc(100% - 45rem);
    }

    @include bp(md){
      width: 100%;
    }

    @include bp(sm){
      padding-top: 0;
    }
  }

  &__tags{
    margin-bottom: 3.3rem;

    @include bp(sm){
      margin: 2.2rem 0 2rem;
    }

    .tag-item{
      padding-top: 0.8rem;
    }
  }

  &__description{
    letter-spacing: -0.168rem;
    line-height: normal;
    padding-top: 0.5rem;
    padding-bottom: 3rem;

    @include bp(sm){
      letter-spacing: -0.154rem;
      line-height: 1.23;
      padding-bottom: 2rem;
    }
  }

  &__info{
    margin: 0.3rem 0 -0.3rem 1.4rem;
  }

  &-info__wrap{
    @include bp(sm){
      font-size: 1.4rem;
      letter-spacing: -0.098rem;
      margin-bottom: 3.8rem;
    }
  }

  &__price{
    border: 1px solid rgba($primary,0.1);
    margin: 3.3rem 0 11.5rem;

    @include bp(lg){
      margin-bottom: 5rem;
    }

    @include bp(sm){
      border: none;
      margin: 1.9rem 0 2.2rem;
    }

    .price{
      flex-grow: 1;
      font-size: 3.2rem;
      padding: 2.4rem 4.4rem 0;
      letter-spacing: 0;
      line-height: 1.4;

      @include bp(lg){
        padding-bottom: 2.4rem;
      }

      @include bp(sm){
        padding: 0;
      }

      span{
        @include bp(sm){
          font-size: 2.2rem;
        }
      }
    }
  }

  &__button{
    padding: 3.1rem;
    border-left: 1px solid rgba($primary,0.1);
    flex-shrink: 0;

    @include bp(lg){
      border-left: none;
      border-top: 1px solid rgba($primary,0.1);
    }

    @include bp(sm){
      background: rgba(255, 255, 255, 0.30);
      backdrop-filter: blur(15px);
      position: fixed;
      z-index: 30;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1.2rem 1.8rem;
      border: none;
    }

    .btn{
      @include bp(lg){
        width: 100%;
      }

      @include bp(sm){
        font-size: 1.8rem;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
      }
    }
  }

  &-group{
    margin-bottom: 6.4rem;

    @include bp(lg){
      margin-bottom: 4.3rem;
    }

    @include bp(sm){
      line-height: 1.22;
    }

    &_padding{
      @include bp(sm){
        padding-right: 1.5rem;
      }
    }

    &__title{
      margin-bottom: 3.5rem;

      @include bp(lg){
        margin-bottom: 2rem;
      }

      @include bp(sm){
        font-size: 2.4rem;
        letter-spacing: -0.168rem;
        margin-bottom: 1.8rem;
      }
    }
  }
}

.video-link{
  position: relative;

  &:before{
    content: '';
    display: block;
    position: absolute;
    width: 8rem;
    height: 8rem;
    top: 4rem;
    left: 4rem;
    background: url(../img/icons/play.svg) 0 0 no-repeat;
    background-size: contain;
    z-index: 2;

    @include bp(sm){
      width: 4.8rem;
      height: 4.8rem;
      top: 2rem;
      left: 2rem;
    }
  }
}

.table{
  width: 100%;

  td{
    border-bottom: 1px solid rgba($primary,0.1);
    padding: 1.6rem 1.6rem 1.6rem 0;
    vertical-align: top;

    @include bp(sm){
      padding: 1.7rem 1.6rem 1.6rem 0;
    }
  }
}

.characteristics-table{
  margin-top: -1.6rem;

  @include bp(sm){
   border-bottom: 3px solid transparent;
  }

  td{
    &:first-child{
      width: 37%;

      @include bp(sm){
        width: 50%;
      }
    }

    &:last-child{
      padding-right: 0;
    }
  }

  &__icon{
    margin-left: 3rem;

    @include bp(sm){
      margin-left: 1.3rem;
    }
  }
}

.border-none{
  @include bp(sm){
    border: none!important;
    padding-bottom: 0!important;
  }
}

.hiden-mobile{
  @include bp(sm){
    display: none;
  }
}

.mobile-cell{
  @include bp(sm){
    padding: 1.4rem 2.5rem 1.6rem 0!important;
    line-height: normal;
    line-height: 1.22;
  }
}

.circle-list{
  padding-top: 0.6rem;

  @include bp(sm){
    padding-top: 1rem;
    letter-spacing: -0.14rem;
    line-height: 1.2;
    margin-bottom: 9.5rem;
  }

  @include bp(sm){
    font-size: 2rem;
  }

  &__item{
    position: relative;
    padding-left: 4.5rem;
    margin-bottom: 2.4rem;

    &:before{
      content: "";
      display: block;
      position: absolute;
      width: 2.9rem;
      height: 1.4rem;
      background: url(../img/icons/dots.svg) 0 0 no-repeat;
      background-size: contain;
      top: 0.6rem;
      left: 0;
      transition: all 0.3s ease-out;
    }

    &:nth-of-type(even){
      &:before{
        transform: rotate(180deg);
      }
    }
  }
}

.tab-nav-horizontal{
  padding: 0.1rem;
  overflow: auto;

  @include bp(sm){
    margin-bottom: 2.3rem;
  }

  &__item{
    &:not(:last-child){
      margin-right: 2.7rem;

      @include bp(sm){
        margin-right: 1.9rem;
      }
    }
  }

  &__link{
    white-space: nowrap;
    letter-spacing: -0.168rem;

    &:not(.active){
      color: #B3BFC8;
    }

    @include bp(hv){
      &:hover{
        color: #012A49;
      }
    }
  }
}

.tags-list_md{
  gap: 1.2rem 1.6rem;

  @include bp(sm){
    padding-bottom: 2rem;
  }

  .tag-item{
    padding-top: 0.8rem;

    @include bp(sm){
      font-size: 1.8rem;
      padding: 0.9rem 1.2rem 0.9rem;
      letter-spacing: -0.126rem;
      line-height: normal;
    }
  }
}

// doc
.doc-item {
  padding-bottom: 1.6rem;
  border-bottom: 1px solid rgba($primary,0.1);

  @include bp(sm){
    flex-wrap: wrap;
    font-size: 2rem;
    padding-bottom: 1.1rem;
  }

  &:not(:last-child){
    margin-bottom: 1.2rem;

    @include bp(sm){
      margin-bottom: 1.6rem;
    }
  }

  @include bp(hv){
    &:hover{
      .doc-item__type{
        color: #0043AB;
      }
    }
  }

  &__type {
    color: #B3BFC8;
    margin-right: 1.9rem;
    transition: all 0.3s ease-out;

    @include bp(sm){
      order: 2;
    }
  }

  &__title {
    @include bp(sm){
      order: -1;
      width: 100%;
      letter-spacing: -0.14rem;
      margin-bottom: 0.8rem;
    }
  }

  &__icon {
    margin: 0.1rem 0.5rem 0 auto;

    @include bp(sm){
      margin: 0.2rem 0.8rem 0 0;
    }
  }
}

// catalogue-section_padding
.catalogue-section_padding{
  padding-top: 9.1rem;

  @include bp(sm){
    padding-top: 5.5rem;
  }

  .catalogue-section__title{
    margin-bottom: 3rem;
  }

  .title_size-md{
    @include bp(sm){
      font-size: 4.8rem;
    }
  }
}

.catalogue-section__text-large{
  width: 57.8%;
  margin-top: -0.4rem;

  @include bp(xl){
    margin-top: 2rem;
    width: auto;
  }

  p{
    width: 64.5%;
  }
}

.catalogue-section__link-margin{
  margin-top: -1.6rem;
}

// form-section
.form-section{
  padding: 11.6rem 0 12.2rem 8.45%;
  display: grid;
  grid-template-columns: auto 63.2%;
  grid-gap: 3rem;
  position: relative;

  @include bp(xxl){
    padding-left: 0;
  }

  @include bp(md){
    grid-template-columns: 100%;
  }

  @include bp(sm){
    padding: 5.7rem 0 5.9rem;
    grid-gap: 2rem;
  }

  &::after, &::before{
    content: '';
    display: block;
    position: absolute;
  }

  &::after{
    width: 8rem;
    height: 33.5rem;
    background: url(../img/icons/flower-light.svg) 50% 0 no-repeat;
    background-size: contain;
    bottom: 0;
    right: 3.4%;

    @include bp(lg){
      display: none;
    }
  }

  &::before{
    border-bottom: 1px solid rgba(1, 42, 73, 0.1);
    left: -300%;
    right: -300%;
    bottom: 0;

    @include bp(sm){
      display: none;
    }
  }

  .text_size-xl{
    @include bp(sm){
      font-size: 2rem;
      letter-spacing: -0.14rem;
    }
  }

  &__content{
    padding: 0.6rem 18% 0 0;

    @include bp(lg){
      padding-right: 0;
    }

    .btn{
      align-self: flex-start;
    }
  }

  .callback__form{
    @include bp(sm){
      padding: 0;
      margin-top: -0.7rem;
    }
  }

  .form-group{
    @include bp(sm){
      margin-bottom: 4.8rem;
    }
  }
}