a{
    transition: all 0.3s ease-out;
    text-decoration: none;
    color: $primary;

    &:not(.btn):active{
        text-decoration: none !important;
        color: #0043AB !important;
        background-color: transparent !important;
        outline: none !important;
        -webkit-tap-highlight-color: transparent !important;
        box-shadow: none!important;
    }

    @include bp(hv){
        &:hover{
            color: #0043AB;

            &.text_light{
                color: $light;
            }

            &.text_inversion{
                color: $dark;
            }
        }
    }
}

.link_active{
    color: #0043AB;

    @include bp(hv){
        &:hover{
            color: $primary;
        }
    }
}

// .link_underline{
//     display: inline-block;
//     padding-bottom: 0.8rem;
//     border-bottom: 1px solid $primary;
//     &:hover{
//         text-decoration: none!important;
//         border-color: transparent;
//     }
// }
p{
    margin-bottom: 1.6rem;
}
.title{
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0;

    &_size{
        &-xs{
            font-size: 3.6rem;
            letter-spacing: -0.252rem;
            line-height: 1.04;

            @include bp(lg){
                font-size: 2.8rem;
            }

            @include bp(sm){
                font-size: 1.8rem;
                letter-spacing: -0.126rem;
            }
        }
        &-sm{
            font-size: 4rem;
            line-height: 1.04;

            @include bp(lg){
                font-size: 3.2rem;
            }

            @include bp(sm){
                font-size: 2.4rem;
            }
        }
        &-md{
            font-size: 6rem;
            line-height: 116.667%;

            @include bp(lg){
                font-size: 4rem;
            }

            @include bp(sm){
                font-size: 3.2rem;
                line-height: 104%;
            }
        }
        &-lg{
            font-size: 9rem;
            line-height: 1.04;

            @include bp(xl){
                font-size: 7rem;
            }

            @include bp(lg){
                font-size: 4.8rem;
            }
        }
        &-xl{
            font-size: 14rem;
            line-height: 1.04;

            @include bp(xxxl){
                font-size: 12rem;
            }

            @include bp(xxl){
                font-size: 10rem;
            }

            @include bp(lg){
                font-size: 8rem;
            }

            @include bp(sm){
                font-size: 4.8rem;
            }
        }
    }

}
.text{
    // size
    &_size{
        &-xs{
            font-size: 1.4rem;
            line-height: 171.429%;
            letter-spacing: -0.098rem;
        }
        &-sm{
            font-size: 1.6rem;
            line-height: normal;
            letter-spacing: -0.112rem;
        }
        &-md{
            font-size: 1.8rem;
            line-height: 133.333%;
            letter-spacing: -0.126rem;
        }
        &-lg{
            font-size: 2.4rem;
            line-height: 116.667%;
            letter-spacing: 0;

            @include bp(xl){
                font-size: 2.2rem;
            }
        }
        &-xl{
            font-size: 2.8rem;
            line-height: 142.857%;
            letter-spacing: -0.196rem;

            @include bp(sm){
                font-size: 2.2rem;
                line-height: 1.23;
                letter-spacing: -0.154rem;
            }
        }
        &-xxl{
            font-size: 3.6rem;
            letter-spacing: -0.252rem;

            @include bp(lg){
                font-size: 3rem;
            }

            @include bp(md){
                font-size: 2.8rem;
            }

            @include bp(sm){
                font-size: 2.2rem;
                letter-spacing: -0.154rem;
                line-height: 1.22;
            }
        }
    }
    // colors
    &_secondary{
        color: $secondary;
    }

    &_inversion{
        color: #fff;
    }

    &_light{
        color: $light;
    }

    &_dark{
        color: $dark;
    }

    &_gray{
        color: #738CA1;
    }

    // weight
    &_normal{
        font-weight: 400;
    }
    &_mediumbold{
        font-weight: 500;
    }
    &_bold{
        font-weight: 700;
    }

    // alignment
    &_center{
        text-align: center;
        &_sm{
            @include bp(sm){
                text-align: center;
            }
        }
    }
    &_left{
        text-align: left!important;

        &-sm{
            @include bp(sm){
                text-align: left!important;
            }
        }
    }
    &_right{
        text-align: right!important;
    }

    // other
    &_styling{
        font-family: 'Neutral Face';
    }

    &_bg{
        background: #AED7F5;
        padding: 0 0.3rem;

        @include bp(sm){
            padding: 0;
        }
    }

    &_upper{
        text-transform: uppercase;
    }
}

