
@import 'fonts';
@import 'reset';
@import 'mixin';
@import 'variables';
@import 'vendor';
@import 'grid';
@import 'icons';
@import 'buttons';
@import 'typography';






body{
    font: 400 2rem/normal 'Inter', sans-serif;
    font-variant-numeric: lining-nums;
    color: $primary;
    background: $light;
    letter-spacing: -0.14rem;

    @include bp(sm){
        font-size: 1.8rem;
        line-height: normal;
        letter-spacing: -0.126rem;
    }

    &.overflow-none{
        overflow: hidden;

        @include bp(xl-up){
            padding-right: 1.7rem;

            .header, .header__collapse, .product-pane{
                padding-right: 1.7rem;
            }
        }
    }
}

.wrap{
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10.4rem;

    @include bp(md){
        padding-top: 8.6rem;
    }

    @include bp(sm){
        padding-top: 5.9rem;
    }

    &_padding{
        @include bp(lg-up){
            padding-top: 7.9rem;
        }
    }
}

.content{
    padding-bottom: 14rem;

    @include bp(sm){
        padding-bottom: 0;
    }

    &_padding{
        padding: 5.5rem 0 12rem;

        @include bp(sm){
            padding: 3rem 0 12rem;
        }
    }

    &_padding-md{
        padding: 6.5rem 0 14rem;

        @include bp(sm){
            padding: 3rem 0 0;
        }
    }

    &_before{
        position: relative;

        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 1rem;
            left: 0;
            width: 33.2%;
            border-top: 4px solid $secondary;

            @include bp(sm){
                top: 0.1rem;
                width: 32%;
            }
        }
    }
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
    width: 100%;

    @include bp(md-up){
        max-width: 750px;
    }

    @include bp(lg-up){
        max-width: 970px;
    }

    @include bp(xl-up){
        max-width: 1140px;
    }

    @include bp(xxl-up){
        max-width: 1380px;
    }

    @include bp(xxxl-up){
        max-width: 1570px;
    }

    @include bp(xxxxl-up){
        max-width: 1786px;
    }

    @include bp(sm){
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }
}

.zoom-link{
    display: block;
    overflow: hidden;

   @include bp(hv){
    &:hover{
        img{
            transform: scale(1.1);
        }
    }
   }

    img{
        transition: all 0.3s ease-out;
    }
}

.pos-rel{
    position: relative;
    z-index: 1;
}
.img-fluid{
    display: block;
    max-width: 100%;
}
.img-fill{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bg{
    &_primary{
        background: $primary;
    }

    &_secondary{
        background: $secondary;
    }

    &_white{
        background: #fff;
    }
}
.w-100{
    width: 100%!important;
    &_lg{
        @include bp(lg-up){
            width: 100%;
        }
    }
    &_md{
        @include bp(md){
            width: 100%;
        }
    }
    &_sm{
        @include bp(sm){
            width: 100%;
        }
    }
}
.row{
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    @include bp(sm){

    }
    & > *{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @include bp(sm){

        }
    }
}


// swiper
.swiper{
    &-pagination{
        &-bullet{
            width: 0.6rem;
            height: 0.6rem;
            margin: 0 0.4rem;
            opacity: 1;
            &:hover, &-active{

            }
        }
    }

    .swiper-button-prev, .swiper-button-next{
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all 0.3s ease-out;
        background: #F8FCFF;

        @include bp(hv){
            &:hover{
                // background: $light;
            }
        }

        &:after{
            display: none;
        }
    }
}

// breadcrumb
.breadcrumb{
    margin: 3.2rem 0 1.4rem;
    font-size: 1.2rem;
    line-height: 2.8rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    @include bp(md){
        font-size: 1rem;
        line-height: 1.2rem;
        margin: 1.7rem 0 0.5rem;
    }
    &__item{
        margin-bottom: 1rem;
    }
    &__item+&__item{
        &:before{
            content: '–';
            color: #000;
            display: inline-block;
            margin: 0 0.7rem;
            @include bp(md){
                margin: 0 0.55rem;
            }
        }
    }
}

// pagination
.pagination{
    margin: 4rem 0 6rem;
    font-size: 1.4rem;
    line-height: 2rem;
    @include bp(md){
        margin: 3.1rem 0 3.9rem;
    }
    &__item{
        margin: 0 0.9rem 1rem;
    }
    &__link{
        &_circle{
            border: 1px solid #000;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 4.4rem;
            height: 4.4rem;
            margin: 0 0.9rem;
        }
    }
}

// link
.link{
    width: fit-content;

    @include bp(sm){
        font-size: 2rem;
    }
}
.circle{
    width: 9.1rem;
    height: 9.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $primary;
    transition: all 0.3s ease-out;
    border-radius: 50%;
    margin-bottom: 0.4rem;

    @include bp(sm){
        width: 6rem;
        height: 6rem;
        margin-bottom: 0;
    }

    @include bp(hv){
        a:hover &{
            background: $secondary;
            border-color: $secondary;
        }
    }

    &_inversion{
        border-color: $light;
        padding: 0.3rem 0 0 0.2rem;

        @include bp(hv){
            a:hover &{
                background: $light;
                border-color: $light;
            }
        }
    }

    &_md{
        width: 6.9rem;
        height: 6.9rem;

        @include bp(lg){
            width: 5rem;
            height: 5rem;
        }

        @include bp(sm){
            width: 4.6rem;
            height: 4.6rem;
        }

        .icon{
            @include bp(lg){
                width: 2rem;
            }
        }
    }
}

// pagination
.pagination{
    gap: 0 6.1rem;
    padding-top: 0.1rem;
    letter-spacing: -0.168rem;

    @include bp(sm){
      font-size: 1.8rem;
      gap: 0 4rem;
      letter-spacing: -0.126rem;
      margin-bottom: 6rem;
    }

    @include bp(xs){
        gap: 0 2rem;
        justify-content: space-between!important;
    }

    &__link{
        &.active, &.disabled{
            pointer-events: none;
            color: #A1B3C4;
        }
    }
}

// loader
.loader {
    z-index: 999;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-out;

    &.hide{
        opacity: 0;
        z-index: -1;
    }
  }

  .loader__image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 11.4rem;
    margin: 0 auto;

    @include bp(md){
        width: 7.9rem;
    }

    &::after, &:before{
        content: '';
        display: block;
    }

    &:before{
        width: 11.4rem;
        height: 10rem;
        background: url(../img/loader-before.svg) 50% 50% no-repeat;
        background-size: contain;
        animation: spin 2s linear infinite;

        @include bp(md){
            width: 7.9rem;
            height: 6.9rem;
        }
    }

    &::after{
        width: 0.2rem;
        height: 50rem;
        background: url(../img/loader-after.svg) 50% 0 no-repeat;
        margin: -4rem auto 0;

        @include bp(md){
            height: 33rem;
        }
    }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loader__text {
    position: absolute;
    bottom: 6rem;
    right: 6.2rem;

    @include bp(md){
        font-size: 4rem;
        bottom: 3.2rem;
        right: 3.2rem;
    }
  }

@import 'form';
@import 'header';
@import 'home';
@import 'footer';
@import 'catalogue';
@import 'product';
@import 'about';
@import 'legal';
@import 'article';
@import 'contacts';
@import 'login';
@import 'personal-cabinet';







